article {
    font-size: 150%;
    line-height: 1.8;
}
.name,
.timing {
    font-family: 'Lora', serif;
    display: block;
    color: white;
}
.name {
    font-size: 120%;
    line-height: 1.5;
    font-weight: bold;
}
img {
    width: 68px;    
}

ul {
    margin-top: 80px;
}

.sheet {
    background-color: #004181;
}

svg {
    width: 50px;
}
.svg {
    position: absolute;
}

.svg--topLeft {
    transform: rotate(300deg);
    left: 22px;
    top: 10px;
}
.svg--topRight {
    transform: rotate(60deg);
    right: 13px;
    top: 13px;
}

.svg--bottomLeft {
    transform: rotate(226deg);
    left: 22px;
    bottom: 10px;
}
.svg--bottomRight {
    transform: rotate(120deg);
    right: 13px;
    bottom: 13px;
}

.svg--centerBottom {
    transform: translateX(-50%);
    left: 50%;
    bottom: 5px;
}

.svg--centerTop {
    transform: translateX(-50%);
    left: 50%;
    top: 5px;
}

.text,
img {
    display: inline-block;
}


li {
    list-style: none;
    margin-bottom: 10px;
    display: inline-block;
    width: 46%;
}

li:nth-child(odd) {
    margin-left: 40px;
}