<!doctype html>
<html lang="en">
{{> head}}
<body>
     <header>
       	{{> nav nav}}
    </header>
	<main>
		<h1>{{title}}</h1>

		<article class="content">
			<div>
				<img class="recipe_img" src=
					{{#if image}}
						"{{image}}" alt="{{alt}}"
					{{else}}
						"assets/glitter-pot.png" alt=""
					{{/if}}
				/>
				<section class="details">
					<h2>Details</h2>
					<ul>
						<li class="content_li">Servings: ~4 persons</li>
					</ul>
				</section>
			</div>
			<h2>Ingredients</h2>
			<ul>
				<li class="content_li">1 full cup of arborio rice</li>
				<li class="content_li">1 small red onion</li>
				<li class="content_li">2/3 of a garlic clove</li>
				<li class="content_li">1 cube of vegetable broth</li>
				<li class="content_li">Comté, grated (a piece of about 4x5cm is enough)</li>
				<li class="content_li">250g of nuts: 100g reduced to a powder, the rest halved</li>
				<li class="content_li">A glass of white wine</li>
				<li class="content_li">Olive oil</li>
			</ul>
			<h2>Steps</h2>
			<div class="steps">
					<p class="step">Bring the broth to a boil in a small pot of water, set aside.</p>
			<p class="step">Cut the onion in very small pieces</p>
			<p class="step">In a big pot, pour some olive oil, with the onion dices and smashed garlic. </p>
			<p class="step">Once the onion is cooked, pour the uncooked rice over. </p>
			<p class="step">Let the rice cook with the onion for a minute, and add the wine, as well as a a bit more olive oil. </p>
			<p class="step">Once all the liquid has evaporated, regularly add a laddle of broth. You won't use all of it it's fine!</p>
			<p class="step">After 20-30 minutes of that treatment, regularly mixing, add the grated comté</p>
			<p class="step">Right after, add the powdered nuts. </p>
			<p class="step">Right before serving add the halved nuts, so that they don't loose their crunchiness. </p>
			<p class="step">Voilà!</p>
			</div>

		</article>
	</main>

    {{> footer footer}}
</body>
</html>