<footer class="footer">
            <hr />
            
            Last update: 
            <time datetime="2018-02-10T13:00">February 10th, 2018</time>
            <br/>
            2018 - Garance Vallat.
            <br/>
            Hosted with <a href="https://www.netlify.com">Netlify</a>.
    </footer>