<footer class="footer">
            Last update: 
            <time datetime="2018-03-11T13:00">March 11th, 2018</time>
            <br/>
            2018 - Garance Vallat.
            <br/>
            Hosted with <a href="https://www.netlify.com">Netlify</a>.
    </footer>