<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Garance's blog - {{subtitle}}</title>
    <meta name="description" content="Personal blog about web development and other hobbies. ">
    {{#each css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    {{!-- PWA-specific --}}
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffaf38">
    <meta name="apple-mobile-web-app-title" content="Flore Vallat">
    <link rel="apple-touch-icon" href="assets/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffaf38">
    <meta name="theme-color" content="#ffaf38">
    <script async defer src="js/registersw.js"></script>
</head>