<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Garance's blog - {{subtitle}}</title>
    <meta name="description" content="Personal blog about web development and other hobbies. ">
    {{#each css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>