@import url("twitter.css");

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    overflow-wrap: break-word;
}

@media screen and (min-width: 500px) {
    font-size: 1.2em;
	line-height: 1.5;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

@media screen and (min-width: 630px) {
    body {
        margin-left: 90px;
        margin-right: 90px;
    }
}

::-moz-selection {
    background: #ffaf38; 
}
::selection {
    background: #ffaf38; 
}

a {
    color: inherit;
    outline: none;
    padding: 3px;
}

a:hover:not(.img),
a:focus:not(.img) {
    background-color: #ffaf38;
}

a:active:not(.img) {
    background-color: #ffd43d;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3em;
}

h1, h2, h3 {
    font-family: Geneva, Verdana, sans-serif;    
}

.nav_ul {
    border-bottom: #ffaf38 1px solid;
}

.nav_li {
    display: inline-block;
    padding: 20px;
}
.nav_li a {
    padding: 15px;
}

@media screen and (min-width: 630px) {
    .nav_ul {
        width: 57%;
        margin-left: auto;
        text-align: right;
        padding-bottom: 25px;
    }
}

.nav_li-focused {
    border: 2px solid #ffaf38;
}

.footer {
    border-top: #ffaf38 1px solid;
    padding-top: 20px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.footer_info {
    margin-bottom: 20px;
}

@media screen and (min-width: 630px) {
    .footer {
        flex-wrap: nowrap;
    }
}

.content_li {
    padding-top: 10px;
}

.content_li::before {
    content: "•"; 
    color: #ffaf38;
    margin-right: 3px;
}