<!doctype html>
<html lang="en">
{{> head}}
<body>

    <main class="about">
        <h1 class="home_title">404 page not found</h1>
        <article class="home_content">
			<p>
				Oops! That page doesn't exist! If I sent you the link, please let me know!
			</p>
			<a href="/index.html">Go back to the main page</a>
        </article>
    </main>
</body>
</html>