<!doctype html>
<html lang="en">
{{> head}}
<body>
    <header>
        <nav class="nav">
            <ul class="nav_ul">
                <li class="nav_li"><a href="./index.html">Home</a></li>
                <li class="nav_li nav_li-focused">About me</li>
                <li class="nav_li"><a href="./haikus.html">Tech</a></li>
                <li class="nav_li"><a href="./reads.html">Reading</a></li>
                <li class="nav_li"><a href="./cookies.html">Cooking</a></li>
            </ul>
        </nav>
    </header>
    <main class="about">
        <h1 class="home_title">About me</h1>
        <article class="home_content">  
            <h2>Garance Flore</h2>
            <p>While I like my first given name very much, it has proven very impractical where I live, in Spain. For this reason, you can call me Flore! It's my second given name, and is almost as cool. </p>
            <p>Garance is a reference to the heroin of <a href="https://en.wikipedia.org/wiki/Children_of_Paradise">the movie Children of Paradise</a>, played by <a href="https://en.wikipedia.org/wiki/Arletty"> the french actress Arletty</a>. </p>

            <h2>Education</h2>
            <p>It took me a while to know programming was my calling. After a literature-focused highschool diploma, I switched to a statistics / psychology double bachelor in Lyon, France. At the end of those 3 years, where I followed several introductory classes to algorithmic, my mind was made up! I moved to Antibes, in the beautiful French Riviera, to follow a 3 years school in computer science. </p>
            <p>I graduated from the French engineering school Polytech Nice Sophia in 2016, and I've been living and working in Barcelona ever since. </p>

            <h2>Work</h2>
            <p>I am curently working at <a href="https://marfeel.com">Marfeel</a>, where we build a mobile website template, to optimise user experience. I'm having a tremendous good time there, being surrounded by nice AND smart people. </p>
        </article>
    </main>
    {{> footer footer}}
</body>
</html>