<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        <div class="wrapper">
            <header class="header">
                <h1>Classic cookies</h1>
            </header>
            
            <article class="content">
                <img src="assets/classic-cookies.jpeg" alt="Stack of golden cookies"/>
                <section class="details">
                    <h2>Details</h2>
                    <ul>
                        <li>Oven temperature: 180ยบ</li>
                        <li>Servings: ~30</li>
                    </ul>
                </section>
                <h2>Ingredients</h2>
                <ul>
                    <li>200 g of white flour</li>
                    <li>1 bag of baking powder</li>
                    <li>100g of non refined cane sugar</li>
                    <li>125g of melted butter (and cooled down before using)</li>
                    <li>1 egg</li>
                    <li>1 egg yolk</li>
                    <li> 2 tea spoons of vanilla extract</li>
                    <li>100g of dark chocolate chips</li>
                </ul>
                <h2>Steps</h2>
                <p>Preheat oven at 180ยบ. </p>
                <p>Mix all dry ingredients in your main bowl, and set aside. </p>
                <p>Mix butter, eggs and vanilla together, in a separate bowl. 
                    Incorporate in the dry mix until homogenous, with a wooden spoon. 
                    Add as much flour as needed, until the consitency is right: 
                    it must be solid enough so that it can be manipulate dby hand, 
                    without the dough staying on your fingers. </p>
                <p>Make small balls of dough by hand, and place them on a baking sheet, on an over plate. 
                    Keep them ~3 cm apart, to make sure they don't blend together when expanding. </p>
                <p>Bake for 12-15 minutes, depending on the size of the balls</p>
                <p>Don't remove from the sheet until cooled down, to avoid breaking them. </p>
            </article>
            <aside class="sidebar">
                <a href="index.html">Back to home</a>
            </aside>
            {{> footer}}
        </div>

         <!-- Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109067520-1"></script>
         <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
 
         gtag('config', 'UA-109067520-1');
         </script>
    </body>
</html>