<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        <div class="wrapper">
            <header class="header">
                <h1>@EverydayHaikus</h1>
            </header>
            
            <article class="content">
                A twitter robot delivering a daily dose of Haikus, right in your timeline!

                <div>
                    <h2>Facts</h2>
                    <ul>
                        <li>The code lives in Github (<a href="https://github.com/garancev/twitterbot-haikus">go to haikuEveryday github repo</a>).</li>
                        <li>The code is uploaded online on <a hrf="https://heroku.com">Heroku</a>.</li>
                        <li>All the haikus live in a postgreSQL database.</li>
                        <li>It is scheduled to tweet every day at 9.30 AM. </li>
                    </ul>
                    
                    <h2>Why Heroku ?</h2>
                    Amongst others, this 
                    <a href="https://medium.com/@mattpopovich/how-to-build-and-deploy-a-simple-twitter-bot-super-fast-with-node-js-and-heroku-7b322dbb5dd3">
                    short tutorial by Matt Popovich</a> convinced me to used Heroku, due to the scheduler plugin. 
                    I took the opportunity to also create the database over there, within the same app. 
                </div>
            </article>

    {{> twitter}}
            
            <aside class="sidebar">
                <a href="index.html">Back to home</a>
            </aside>
            {{> footer}}
        </div>

         <!-- Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109067520-1"></script>
         <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
 
         gtag('config', 'UA-109067520-1');
         </script>
    </body>
</html>