<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        <div class="wrapper">
            <header class="header">
                <h1>Interesting reads</h1>
                <p>I regularly find some really good articles, that I want to safe-keep. </p>
                <p>This page groups them by theme. </p>
            </header>
            
            <article class="content">
               <h2>Tech articles</h2>
               <ul>
                   <li>...</li>
               </ul>
               <h2>Soft skills</h2>
               <ul>
                   <li><a href="https://www.fs.blog/2017/06/habits-vs-goals/">Setting goals vs. building habits</a></li>
               </ul>
            </article>
            <aside class="sidebar">
                <a href="index.html">Back to home</a>
            </aside>
            {{> footer}}
        </div>

         <!-- Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109067520-1"></script>
         <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
 
         gtag('config', 'UA-109067520-1');
         </script>
    </body>
</html>