<!doctype html>
<html lang="en">
{{> head}}
<body>
    <header>
		{{> nav nav}}
    </header>
	<main>
		<p>
			This year, I've been lucky enough to be selected to speak during tech events.
</p><p>
			My talks are centered around accessibility, because that's what I want to see more of during  events.
</p>
<p>
			Here's the list of where I have or will speak, and what about:
		</p>
		<p class="event">
			<span>
				<h2 class="title">Women Techmakers International Women's day 2019</h2>
				<div class="detail">6th of April 2019, in Barcelona</div>
				<a href="https://youtu.be/hDqwlLelK-Y" class="link">Web Accessibility: don't be Beyoncé</a>
			</span>
			<img alt="Women Techmakers logo" class="logo" src="../assets/wtm.png"/>
		</p>
	</main>

    {{> footer footer}}
</body>
</html>
