<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <button class="navbar-item menu-icon-trigger">
        <div class="menu-icon-wrapper left-menu-icon-wrapper" style="visibility: visible;">
          {{- partial "fancy-button.html" . -}}
        </div>
        <div class="navbar-item left-menu-icon-wrapper">
          {{ i18n "tags" }}
        </div>
      </button>

      <div class="navbar-item is-expanded"></div>
      <button class="navbar-item is-hidden-desktop menu-icon-trigger right-menu-icon-wrapper"
              data-target="navbar-menu">
        <div class="navbar-item is-hidden-desktop">
          {{ i18n "mainMenu" }}
        </div>
        <div class="menu-icon-wrapper" style="visibility: visible;">
          {{- partial "fancy-button.html" . -}}
        </div>
      </button>
    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <a href="/" class="navbar-item is-secondary">
          Home
        </a>
        {{ range .Site.RegularPages }}
          {{- if eq .Params.showInMenu true -}}
          <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
            {{- .Title -}}
          </a>
          {{- end -}}
        {{- end -}}
        {{- range .Site.Sections -}}
          {{- if not (eq .Title "singles") -}}
          {{- $secCount := len .Sections -}}
          {{- if (ne $secCount 0) }}
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="{{- .Permalink | relURL -}}" class="navbar-link">
              {{- .Title -}}
            </a>
            <div class="navbar-dropdown">
              {{- range .Sections -}}
              <a href="{{- .Permalink | relURL -}}" class="navbar-item">
                {{- .Title -}}
              </a>
              {{- end -}}
            </div>
          </div>
          {{- else -}}
          <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
            {{- .Title -}}
          </a>
          {{- end -}}
        {{- end -}}
        {{- end -}}
      </div>
    </div>
  </div>
</nav>
