
<nav class="nav">
    <ul class="nav_ul">
		<li class="nav_li
			{{#home}}
				nav_li-focused">
					Home
			{{/home}}
			{{^home}}
				">
					<a href="./home.html">Home</a>
			{{/home}}
		</li>
		<li class="nav_li
			{{#about}}
				nav_li-focused">
					About
			{{/about}}
			{{^about}}
				">
					<a href="./about.html">About</a>
			{{/about}}
		</li>
		<li class="nav_li
			{{#tech}}
				nav_li-focused">
					Tech
			{{/tech}}
			{{^tech}}
				">
					<a href="./haikus.html">Tech</a>
			{{/tech}}
		</li>
		<li class="nav_li
			{{#reads}}
				nav_li-focused">
					Reading
			{{/reads}}
			{{^reads}}
				">
					<a href="./reads.html">Reading</a>
			{{/reads}}
		</li>
		<li class="nav_li
			{{#speaking}}
				nav_li-focused">
					Speaking
			{{/speaking}}
			{{^speaking}}
				">
					<a href="./speaking.html">Speaking</a>
			{{/speaking}}
		</li>
    </ul>
</nav>
{{!--
<nav class="nav">
            <ul class="nav_ul">
                <li class="nav_li nav_li-focused">Home</li>
                <li class="nav_li"><a href="./about.html">About me</a></li>
                <li class="nav_li"><a href="./haikus.html">Tech</a></li>
                <li class="nav_li"><a href="./reads.html">Reading</a></li>
                <li class="nav_li"><a href="./cookies.html">Cooking</a></li>
            </ul>
        </nav> --}}
