TODO: find a way to factorise it!
<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_li nav_li-focused">Home</li>
        <li class="nav_li"><a href="./about.html">About me</a></li>
        <li class="nav_li"><a href="./haikus.html">Tech</a></li>
        <li class="nav_li"><a href="./reads.html">Reading</a></li>
        <li class="nav_li"><a href="./cookies.html">Cooking</a></li>
    </ul>
</nav>