<div class="twitter">
    <svg x="0" xml:space="preserve" style="width: 0; height: 0;" y="0">
        <defs>
            <clipPath id="clipping">
                <circle id="circle" r="40" cx="45" cy="40" style="fill:none;stroke:#00aced;stroke-width:2;"></circle>
            </clipPath>
        </defs>
    </svg>
    <a class="twitter_img img" href="https://twitter.com/{{twitterHandle}}">
        <svg height="84px" width="93px">
            <title>Go to my Twitter Profile</title>
            <image style="clip-path: url(#clipping);" xlink:href="{{twitterPhoto}}" x="0" y="0" height="83px" width="92px" />
            <circle class="twitter_circle" r="40" cx="45" cy="40"></circle>
        </svg>
    </a>
    <p class="twitter_text">
        Find me on Twitter:
        <a href="https://twitter.com/{{twitterHandle}}"> @{{twitterHandle}}</a>! 
    </p>
</div>