.recipe {
  border: 1px solid #ffaf38;
  display: inline-block;
  width: 90%;
  margin-bottom: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 500px) {
  .recipe {
    width: 30%;
  }
}

.recipe img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.recipe .img {
  display: none;
}

@media screen and (min-width: 500px) {
  .recipe .img {
    height: 220px;
    display: block;
  }
}

.img {
  overflow: hidden;
}

.recipe .text {
  padding: 15px;
  padding-bottom: 30px;
}

.recipes {
  margin-top: 50px;
}

.toRecipe {
  padding: 8px;
  border: 1px solid #ffaf38;
  cursor: pointer;
}
