/** FONTS **/
html {
    font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 400;
    font-size: 1em;
	line-height: 1.4;
}
@media screen and (min-width: 500px) {
    font-size: 1.125em;
	line-height: 1.5;
}
body,
html {
    height: 100%;
    margin: 0;
}

h2, p {
    margin: 0;
}
a {
    color: inherit;
    outline: none;
    padding: 3px;
}
a:focus:not(.img) {
    background-color: #ffaf38;
    padding: 1px;
}
.circle {
    fill: none;
    stroke: #00aced;
    stroke-width: 2;
}
a.img:focus .circle {
    stroke: #ffaf38;
    stroke-width: 4;
}

*, *:before, *:after {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
/**
* Original by Rachel Andrews, gridbyexample.com
**/
.wrapper {
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
    height: 100%;
}
.twitter {
    grid-row: 3;
}
.twitter-text {
    width: 45%;
    vertical-align: top;
    padding-top: 20px;
}

.clip-circle {
    clip-path: url(#circle);
}
@media screen and (min-width: 630px) {

  /*Float as no-grid support*/
    .sidebar {
        float: left;
        width: 19.1489%;
    }

    .content {
        float: right;
        width: 79.7872%;
    }

    .wrapper {
        margin-top: auto;
        margin-bottom: auto;
        grid-template-columns: 3fr 2fr;
        height: 100%;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

    .footer {
    }
    .twitter-text {
        padding-top: 50px;
    }
}

.wrapper > * {
  /* needed for the floated layout*/
    margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}

.ib {
    display: inline-block;
}