body {
    font-family: 'Lora', serif;
    width: 100%;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

article {
    font-size: 150%;
    line-height: 1.8;
}

.text, img {
    display: inline-block;
}
@media screen {
    html {
        background-color: #004181;        
        background: linear-gradient(135deg, #1e5799 0%,#004181 0%,#207cca 50%,#7db9e8 100%);
    }
    body {
        color: white;
    }
    button {
        width: 100px;
        height: 50px;
        background: linear-gradient(135deg, #7db9e8 0%,#207cca 0%, #1e5799 100%);
        border-style: none;
        border-radius: 3px;
        margin-left: 30px;
    }
    article {
        margin-top: 140px;
        margin-bottom: 50px;
    }
    aside {
        text-align: right;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    li {
        margin-top: 40px;
        display: block;
        width: 100%
    }

    ul {
        padding-left: 50px;
    }
    
    svg {
        width: 50px;
    }
    
    .svg {
        position: absolute;
    }
    
    .svg--left {
        transform: rotate(300deg);
        left: 50px;
    }
    .svg--top {
        top: 50px;
    }
    
    .svg--bottom {
        bottom: 50px;
        display: none;        
    }
    
    .svg--bottom.svg--left {
        transform: rotate(226deg);
    }
    .svg--bottom.svg--right {
        transform: rotate(120deg);
    }
    
    .svg--center {
        transform: translateX(-50%);
        left: 50%;
        
    }
    .svg--right {
        transform: rotate(60deg);
        right: 50px;
    }
    
    img {
        width: 55px;
    }
    button {
        display: none;
    }
    @media (min-width: 670px) {
        button {
            display: inline-block;
        }
        .svg--bottom {
            display: block;
        }
        ul {
            position: relative;
            top: 15%;
        }
        li {
            display: inline-block;
            width: 48%;
        }
        html, body {
            height: 100%;
        }
        article {
            height: 80%;
            margin-top: 0;
            margin-bottom: 0;
        }
        img {
            width: 68px;
        }
        aside {
            right: 50px;
            position: relative;
            bottom: 80px;
        }
    }
}

.name,
.timing {
    display: block;
}
@media print {
    aside {
        display: none;
    }

    svg {
        display: none;
    }

    li {
        margin-bottom: 10px;
        display: inline-block;
        width: 45%;
    }

    .name {
        font-size: 110%;
        line-height: 1.5;
        font-weight: bold;
    }
    img {
        width: 50px;
    }
    ul {
        margin-top: 20px;
        position: relative;
    }

}