<footer class="footer">
    <div class="footer_info">
        Last update:
        <time datetime="2019-06-15T13:00">June 15th, 2019</time>
        <br/>
        2018 - Garance Vallat.
        <br/>
        Hosted with <a href="https://www.netlify.com">Netlify</a>.
    </div>

    {{> twitter}}

    </footer>
