<!doctype html>
<html lang="en">
{{> head}}
<body>
    <div class="wrapper">
        <header class="header">
            <h1>Hello!</h1>
            <p>I'm Garance Flore, a software engineer focused on web development.</p>
            <p>I live in sunny Barcelona, I love that city!</p>
            <p>Besides development, I love cooking, as well as reading. </p>
        </header>
        <article class="content">
            <section class="ib">
            <p>This webiste is meant to be a blog, an experimentation field, a hosting spot for different projects... Anything really! </p>
            </section>
            
        </article>
    {{> twitter}}

            <aside class="sidebar">
                <h2>Links: </h2>
                <ul>
                    <li><a href="cookies.html">My simple cookies recipe</a></li>
                    <li><a href="pasta.html">My pasta cooking cheat sheet</a></li>
                </ul>
        </aside>

        {{> footer}}
    </div>

    <!-- Google Analytics -->

</body>
</html>